body{
    background: rgb(190,190,190);
    background: linear-gradient(90deg, rgba(190,190,190,1) 0%, rgba(255,255,255,1) 50%, rgba(190,190,190,1) 100%);
}

.calculadora {
    background-color: hwb(0 14% 86%);
    background: rgb(0,159,236);
background: linear-gradient(0deg, rgba(0,106,157,1) 0%, rgba(0,159,236,1) 100%);
    width: 42vh;
    height: 47vh;
    text-align: center;
    border-radius: 10px;
}



.calculadora h1 {
    padding-top: 2vh;
    color: white;
    text-shadow: 5px 5px 5px black;
}


.formInput {
    width: 38vh;
    height: 3vh;
    margin-bottom: 2vh;
    border: none;
}

#lista {
    box-sizing: content-box;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: hwb(118 14% 27%);
    text-align: center;
    border-radius: 10px;
    font-size: 1.7vh;
    color: white;
    text-shadow: 3px 3px 5px black;
    display: none;
}

#totalFinal {
    box-sizing: content-box;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: hwb(118 14% 27%);
    text-align: center;
    border-radius: 10px;
    font-size: 2vh;
    color: white;
    text-shadow: 3px 3px 5px black;
    display: none;
}

#error {
    margin-top: 40px;
    padding-top: 20px;
    background-color: rgb(211, 13, 7);
    width: 42vh;
    height: 9vh;
    text-align: center;
    border-radius: 10px;
    font-size: 1.7vh;
    color: white;
    text-shadow: 3px 3px 5px black;
    display: none;
}

.contenedor{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;

}


.contClima{
    background-color: lightblue;
    height: 80px;
    display: flex;
}

.loc{
    color: black;
    padding: 30px 20px 35px 20px ;
    font-size: 2vh;
}


.icono{
    display: flex;
    position: relative;
    margin-left: 140vh;
    
}

.temp{
    color: black;
    font-size: 2vh;
    padding-top: 30px;
}

.descr{
    color: black;
    font-size: 2vh;
    padding-top: 30px;
    padding-left: 20px;


}

